{% extends 'base.html' %}
{% load bootstrap3 %}

{% load static %}
{% block content%}
{{ block.supper }}


<div class="container" style="float:left; padding-top:150px">
    <div class="row">

        <div class="col-md-6">
            {% if request.user.profile.profile_picture %}
            <img src="{{user.profile.profile_picture.url}}" alt="" style="border-radius:50%; width:300px; height:300px; padding:0px; margin:0px;">
            {% endif %}
            <p><strong>Profile Bio:</strong>{{profile.bio}}</p>
            <p><strong>Profile Username:</strong>{{user.username}}</p>
            <p><strong>profile name:</strong>{{profile.user_name}}</p>
            <p><strong>User Neighborhood:</strong>{{profile.neighborhood}}</p>
            <p><strong>User Location:</strong>{{profile.location}}</p>

        </div>
        <div class="col-md-6">


            <a href="{% url 'edit_profile' %}"><button type="button" class="btn btn-">Edit Profile</button></a>
        </div>



    </div>
    <div class="row">

    </div>
</div>
</div>

{% endblock %}