{% extends 'base.html'%}
{% load static %}

{{block.super}}
{% block content %}
<h3 style="padding-top: 100px;">hello world</h3>

<div class="row">
    {% for post_item in post %}
    <div class="col-md-4 col-md-4 col-md-4 ">
        <div class="thumbnail">
            <h3>{{post_item.name}}</h3>
            <a href="#"><img id="yvee" src="{{post_item.image.url}}" alt="Image" height=400px width="400px" style=" box-shadow: 1px 1px 1px 1px grey; transition: all 0.3s ease 0s; cursor:
    pointer; opacity: 0.8; width:400px ; height: 400px;"></a>
            <div class="caption">
                <a href="">View Project</a>
                <p><strong>
                        Project Description</strong>:{{post_item.description}}</p>
                <p><strong>Location</strong>:</p>
                <p><strong>Get started:</strong><a href="">Review Project</a></p>
                <img src="" alt="" height=60px width=100px>
            </div>

        </div>
    </div>
    {% endfor %}

<!--<div class="jumbotron text-center mt-0 mb-0" style="background-color:black;font-family: 'Dosis', sans-serif;">
                        <h2 class="animated zoomInLeft" style="text-align:center;font-size:40px;color:#ffffff;"><strong>BUSINESS DIRECTORY</strong></h2>
                        <div class="card-deck d-flex">
                            {% for business in businesses %}
                            <div class="card w-33 border border-info" style="background-color:black;">
                                <div class="card-title border-bottom">
                                    <p id="p" style="font-size:20px;color:white;"> <a href="{% url 'business' business.id %}"><strong>BUSINESS
                                                NAME:</strong>

                                            <strong> {{business.business_name}}</strong> </a></p>
                                </div>
                                <hr>
                                <div class="card-body border-info w-33">

                                    <p style="color:white;">{{business.neighbourhood_id}} </p>
                                    <p style="font-family: 'Dosis', sans-serif; text-align:center;color:white;"> Contact Information:
                                        <br>
                                        {{ business.business_email_address}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>-->


    {% endblock %}