{%extends "base.html"%}
{% load bootstrap3 %}
{%load static%}
{% block content %}

</head>

<body>
    <div class="container" style="padding-top:120px;">

        <div class="row">


            <form action="{%url 'neighborhood'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form form%}
                <input id="id_myfield" type="submit" class="btn btn-success btn-lg" value="Post">
            </form>

            {% block scripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %} {% endblock %}


        </div>
    </div>
</body>
{% endblock %}